    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
        <div class="jumbotron text-center">
    <h1>
    Welcome to {{ title }}!
    </h1>
    <h4> {{month}}/{{day}}/{{year}}</h4>
    <h4> {{hour}}/{{minutes}}/{{seconds}}</h4>
    </div>
    <base href="/">
    </div>
    <body>
        <div class="container">
    <div style="text-align:center" *ngFor="let tap of taps"> 

    <ul style="text-align:center" >
    <li>
    name:
    {{tap.title}}
    </li>
    <li>
    brand:
    {{tap.brand}}
    </li>
    <!-- [class]="priorityColor(currentTap)" -->
    <div >
    <li ><span  [class]="priorityColor(tap)" >
    Price:
    {{tap.price}}
    </span>

    </li>
    </div>
    <li>alcoholContent:
    {{tap.alcoholContent}}
    </li>
    <li >
    <span [class]="priorityPintsColor(tap)">
    Pints: {{tap.pints}}
   
    </span>
    <br>
    <progress id="health"  [class]="priorityPintsColor(tap)" value=" {{tap.pints}}" max="100"></progress>
    <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:80%">
        {{tap.pints}}
        </div>
      </div> -->

    </li>
    <li> LEFT:
        {{tap.left}}
        
    </li>
    </ul>
    <div><button (click)="editTap(tap)">Edit!</button>
    <button (click)="sell(tap)">sell!</button>
    <button (click)="income(tap)">check</button> 
    <button (click)="removeTap(tap)">Delete</button>
    </div>
    <hr>
    </div>
    <div class="bg-warning">ddd</div>
    <div *ngIf="selectedTap">    
    <h3>{{selectedTap.title}}</h3>
    <p>Tap Complete? {{selectedTap.done}}</p>
    <h3>Edit Tap</h3>
    <label>Enter Tap title:</label>
    <input [(ngModel)]="selectedTap.title">
    <input [(ngModel)]="selectedTap.brand">
    <input [(ngModel)]="selectedTap.price">
    <input [(ngModel)]="selectedTap.alcoholContent">
    <input [(ngModel)]="selectedTap.pints">
    <button (click)="finishedEditing()">Done</button>
    </div>
    <button (click)="addTap()">add</button>

    <div *ngIf="newTap">
    <input [(ngModel)]="newTap.title" type="text">
    <input [(ngModel)]="newTap.brand" >
    <input [(ngModel)]="newTap.price" >
    <input [(ngModel)]="newTap.alcoholContent" >
    <button (click)="finishedAdding()" class="bg-warning" >Done</button>
    </div>

    <li><a routerLink="about">About</a></li>
    </div>

    <p
      [ngStyle]="{backgroundColor: getColor()}">
      dddddddd
    </p>
    </body>