<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <div style="text-align:center" *ngFor="let tap of taps">{{tap.title}} <button (click)="editTap(tap)">Edit!</button>
    <button (click)="sell(tap)">sell!</button><button (click)="income(tap)">check</button>
    <ul style="text-align:center" >
      <li>
          {{tap.brand}}
      </li>
      <li>Price:
          {{tap.price}}
      </li>
      <li>alcohuContent:
          {{tap.alcoholContent}}
      </li>
    </ul>
  </div>
  <div *ngIf="selectedTap">    
      <h3>{{selectedTap.title}}</h3>
      <p>Tap Complete? {{selectedTap.done}}</p>
      <h3>Edit Tap</h3>
      <label>Enter Tap title:</label>
      <input [(ngModel)]="selectedTap.title">
      <input [(ngModel)]="selectedTap.brand">
      <input [(ngModel)]="selectedTap.price">
      <input [(ngModel)]="selectedTap.alcoholContent">
      <input [(ngModel)]="selectedTap.pints">
      <button (click)="finishedEditing()">Done</button>
    </div>
    <button (click)="addTap()">add</button>
   
 <!-- <div *ngIf="addTap()">
      <input [(ngModel)]="newTap.title" type="text">
      <input [(ngModel)]="newTap.brand" >
      <input [(ngModel)]="newTap.price" >
      <input [(ngModel)]="newTap.alcoholContent" >
</div> -->
